.main-div{
    background-color: pink;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 300px;
    flex-direction: row;


}
.div{
    color:wheat;
    background-color: rgb(152, 173, 180);
    border: 2px solid blue;
    height: 50px;
    width: 150%;
    
}