*{
    font-family: 'Open Sans', sans-serif;
}
.header-main-div{
    width: auto;
    display: flex;
    justify-content: space-between;
    padding:auto;
    border: none;
    
    
}

.head1{
    display: flex;
    margin-top: 0px;
}
.head1>img{
    width: 86px;
    height: 40px;


}
.head-2{
    display: flex;
   text-align: center;
font-size: 45px;
font-weight: 700;
}
.head-1{
    font-size: 35px;
font-weight: 700;
color: brown;

}
.head-3{
    font-size: 35px;
font-weight: 700;
color: rgb(0, 2, 118);
}


.main-div-li{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    list-style: none;
    gap: 32px;
    margin-top: 0px;
    
    

}
.header-icons{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 2px;
   
}
/* for mobile 425px */
@media screen and ( max-width:425px) {
    .header-main-div {
        width: 300px;
        display:flex;
        flex-direction: column;
        align-items: end;
        margin-bottom: 200px;
        
    }
    .head1{
        display: flex;
        flex-direction: row;
        margin: 20px;
        gap: 20px;
       
    }
    .main-div-li{
        display: flex;
        flex-direction: column;
    }
    .Developers{
        margin-left: 17px;
    }
    .about-us{
      margin-left: 
      30px;
    }
}
.play-main-div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}
.play-main-div{
    width: 1920px;
    height: 1080px;
}
.play-content{
    padding: 148px 309px 148px 244px;
    text-align: left;
    align-items: center;
    background-image: url('images/Group 14.png');
    background-repeat:no-repeat;
}

.play-like-the{
font-size: 48px;
font-weight: 700;

}

.goat{
font-size: 95px;

font-weight: 800;
background: linear-gradient( #ff0634 30%, #4e07f5);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.goat-1click{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.img-goat{
    width: auto;
}
.signin{
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 40px;
background-color:  #fa76ba;
}
@media screen and (max-width:450px) {
    .play-main-div{
        width: 350px;
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
}
.img-1-1> img{
    height: auto;
    width: 430px;
}
.play-content{
    padding: auto;
    text-align: center;
    align-items: center;
    background-image: url('images/Group 14.png');
    background-repeat:no-repeat;
}

.play-like-the{
font-size: 48px;
font-weight: 700;

}

.goat{
font-size: 95px;
font-weight: 800;
background: linear-gradient( #ff0634 30%, #4e07f5);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.goat-1click{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
.img-goat{
    width: auto;
}

}

/* @media end of goat { */
    
.we-are-gamer{
    display: flex;
    gap: 50px;
   
}
.gamer-text{
    text-align: end;
    padding: 100px 50px;
}
.gamer-p{
    color: #534C64;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
}
.gamer-h2{
font-size: 58px;
font-weight: 900;
background: linear-gradient( #dd0143 30%, #06105d);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.gamer-bq{
    color: #443469;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 45px;
}
.gamer-span{
    color: #21006f;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
}
@media screen and (max-width:445px) {
    .we-are-gamer{
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
       
    }
}
.funny-h2{
    color: #0e0035;
text-align: center;
font-size: 48px;
font-weight: 700;
}
.span{
    background: linear-gradient( #dd0152 30%, #016d19);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;}
.funny-h4{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.img-section-head{
display: flex;
gap: 20px;
align-items:center;
text-align: justify;

}
.img-section{
    width: 342px;
}
.img-section3{
    width: 342px;
    height: auto;
    
}

.inside-play-instantly p{
    text-align: right;
}
.style-play-instantly{
    background: linear-gradient( #dd0152 30%, #016d19);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main-div-playinstantly{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 245px;
}
.inside-play-instantly
 h1{
    font-size: 58px;
    text-align: center;
}
.play-img1{
    position: relative;
    margin: 0;
    left: 300px;
    top: 150px;
    border-radius: 8px;
    border: 10px solid rgb(234, 227, 227);
   
}
.play-img2{
    position: relative;
    margin: 0;
    left: 200px;
    top: 00px;
    
}

/* copy play instantly */


.main-div-button{
    color: rgb(174, 31, 93);
    border: 1px solid rgb(240, 14, 112);
    cursor: pointer;
}
.main-div-button{
    display: flex;
    flex-wrap: wrap;
    gap:24px;
    justify-content: center;
    padding: 120px 249px;
}
.main-div-button{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 50px;
    background: white;
    font-size: 20px;
    gap: 10px;
    padding: 10px;
}
/* footer */

.icons{
    width: 2rem;
}
.policy-tag li{
    list-style: none;

    
}

.gamers-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.main-footer{
    background: #0B0223;
    color: #FFF;
    display: flex;
    justify-content: center;
    padding: 130px 553px;
    
}
.nav ul{
    display: flex;
    justify-content: center;
    gap: 70px;
}

.icon{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 74px
}
.policy-tag ul{
    display: flex;
    color: rgb(6, 39, 147);
    font-size: 1.2rem;
    margin-bottom: 18px;
    font-weight: 500;
    gap: 60px;
    
}

.nav li{
    list-style: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: #8efad6;
    margin-bottom: 56px;
}
.copyright{
    text-align: center;
}
.copyright a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}
@media screen and (max-width:925px) {
    .nav-state , .play, .we-are-gamer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

    }
    .play{
        flex-direction: column-reverse;
        
    }
.gamers-logo, .nav li, .icon , .policy-tag , .copyright
{
    display: flex;
    font-size: 20px;
    gap:5px;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
    background: transparent;
}
}